/* CSS Document */

.gujju-theme {color:#fff !important;background-color:#2196F3 !important}
.gujju-theme-light {color:#000 !important;background-color:#E3F2FD !important}
.gujju-theme-dark {color:#fff !important;background-color:#0D47A1 !important}
.gujju-text-theme {color:#2196F3 !important}
.gujju-theme-l5 {color:#000 !important;background-color:#E3F2FD !important}
.gujju-theme-l4 {color:#000 !important;background-color:#BBDEFB !important}
.gujju-theme-l3 {color:#000 !important;background-color:#90CAF9 !important}
.gujju-theme-l2 {color:#000 !important;background-color:#64B5F6 !important}
.gujju-theme-l1 {color:#fff !important;background-color:#42A5F5 !important}
.gujju-theme-d1 {color:#fff !important;background-color:#1E88E5 !important}
.gujju-theme-d2 {color:#fff !important;background-color:#1976D2 !important}
.gujju-theme-d3 {color:#fff !important;background-color:#1565C0 !important}
.gujju-theme-d4 {color:#fff !important;background-color:#0D47A1 !important}
.gujju-theme-action {color:#fff !important;background-color:#1565C0 !important}