.w3-btn.w3-ripple {
	position: relative;
	overflow: hidden
}

.w3-btn.w3-ripple:after {
	content: "";
	background: #90EE90;
	display: block;
	position: absolute;
	padding-top: 250%;
	padding-left: 250%;
	margin-left: -20px !important;
	margin-top: -100%;
	opacity: 0;
	transition: all 1s
}

.w3-btn.w3-ripple:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
}